input
{
	width: 300px;
	height: 30px;
	border-radius: 10px;
}
.container{
	margin-left:35%;
  /* border: 1px solid #42464b; */
  border: none;
  border-radius: 6px;
  font-style:oblique;
//background: #f74639; 
background-image:url("online.jpg");
 
  margin-top:5%;
  color: white;
	
}
.b
{
	margin-left:100px;
	height: 30px;
	width: 250px;
	border-radius: 2px;
	color: white;
	background-color: green;
}